// Parameters

params {
	reads = "$baseDir/data/*_L001_R{1,2}_001.fastq.qz"
	outdir = "$baseDir/qc"
	multiqc = "$params.outdir/multiQC"
	report = "$params.outdir/*_fastqc.html"
	trimmed = "$baseDir/trimmedReads"
	threads = 16
}

// Workflow reports

report {
  enabled = true
  file = "${baseDir}/reports/report.html"
}

timeline {
  enabled = true
  file = "${baseDir}/reports/timeline.html"
}

dag {
  enabled = true
  file = "${baseDir}/reports/DAG.svg"
}

trace {
  enabled = true
  fields = 'process,task_id,hash,name,attempt,status,exit,realtime,cpus,memory,%cpu,vmem,rss,submit,start,complete,duration,realtime,rchar,wchar'
  file = "${params.outdir}/reports/trace.txt"
}
